body{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

header{
    text-decoration: none;
    color: black;
}
header a{
    color: black;
    text-decoration: none;
}

header ul{
    list-style-type: none;
}
img{
    width: 300px;
    height: 300px;
}