body{
    background-color: white;
}

.blog-post{
    border: 1px solid #999;
    padding: 20px;
    margin: 20px 0;
    background-color: #f5f5f5;
}

div.blog-post-featured {
    background-color: #ffeaa7;
}